
.mysubtheme{
	background-color: #387EF5;
	color: white;
	text-align: center;
	padding: 5px;
}
.rec_slider{
	padding: 0px;
	overflow: hidden;
	object-fit: cover;
}
.smooth_slider{
	width: 820px;
	height: 280px;
	overflow: hidden;
	background-color: #387EF5;
	border: solid #387EF5 10px;
}
.smooth_slider_box{
	float: left;
	width: 200px;
	overflow: hidden;
}
.smooth_slider_img{
	height: 150px;
	width: 185px;
	object-fit: cover;
	overflow: hidden;
}
.smooth_slider_txt{
	color:white;
}

