<ion-view view-title="Home">
  <ion-content class="padding">

  <div class="card">
    <div class="item item-divider" style="text-align: center;">
      <h1>UniVersoCarita</h1>
      <h2 style="font-size: 28px;">Padova</h2>
    </div>
    <div class="item item-text-wrap" style="text-align: center;">
      <div><img src="img/logocar.png" width="60%"></div>
      Percorsi di servizio e crescita <br>per studenti universitari
    </div>
  </div>

    <div class="row row-no-padding" ng-click="click1($event)">
      <div class="col">
        <div class="button button-full button-assertive">
          SULLA STRADA
        </div>
      </div>
    </div>      
    <div class="row row-no-padding" ng-show="show1">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-assertive" href="#/app/sullastrada_ser">
          Servizio
        </a> 
      </div>
    </div>  
    <div class="row row-no-padding" ng-show="show1">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-assertive" href="#/app/sullastrada_eve">
          Eventi
        </a> 
      </div>
    </div>

    <div class="row row-no-padding" ng-click="click2($event)">
      <div class="col">
        <div class="button button-full button-balanced">
          DISABILITA’
        </div>
      </div>
    </div>      
    <div class="row row-no-padding" ng-show="show2">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-balanced" href="#/app/disabilita_ser">
          Servizio
        </a> 
      </div>
    </div>  
    <div class="row row-no-padding" ng-show="show2">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-balanced" href="#/app/disabilita_eve">
          Eventi
        </a> 
      </div>
    </div>

    <div class="row row-no-padding" ng-click="click3($event)">
      <div class="col">
        <div class="button button-full button-positive">
          ANIMAZIONE
        </div>
      </div>
    </div>      
    <div class="row row-no-padding" ng-show="show3">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-positive" href="#/app/animazione_ser">
          Servizio
        </a> 
      </div>
    </div>  
    <div class="row row-no-padding" ng-show="show3">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-positive" href="#/app/animazione_eve">
          Eventi
        </a> 
      </div>
    </div>

    <div class="row row-no-padding" ng-click="click4($event)">
      <div class="col">
        <div class="button button-full button-energized">
          SENSIBILIZZAZIONE
        </div>
      </div>
    </div>      
    <div class="row row-no-padding" ng-show="show4">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-energized" href="#/app/sensibilizzazione_opp">
          Opportunità
        </a> 
      </div>
    </div>  
    <div class="row row-no-padding" ng-show="show4">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-energized" href="#/app/sensibilizzazione_eve">
          Eventi
        </a> 
      </div>
    </div>

    <div class="row row-no-padding" ng-click="click5($event)">
      <div class="col">
        <div class="button button-full button-royal">
          ULTIMISSIME
        </div>
      </div>
    </div>      
    <div class="row row-no-padding" ng-show="show5">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-royal" href="#" onclick="window.open('http://www.centrouniversitariopd.it/', '_system', 'location=yes'); return false;">
          CENTRO UNIVERSITARIO
        </a> 
      </div>
    </div>  
    <div class="row row-no-padding" ng-show="show5">
      <div class="col col-90 col-offset-10">
        <a class="button button-full button-royal" href="#" onclick="window.open('http://www.giovaniemissione.it/', '_system', 'location=yes'); return false;">
          GIOVANI E MISSIONE
        </a> 
      </div>
    </div>  

  </ion-content>
</ion-view>
