<ion-view title="Sensibilizzazione - Opportunità">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="doRefresh2()">
		</ion-refresher>
		{{error}}

		<ion-list>
			<ion-item ng-repeat="post in posts" href="#/app/post/{{post.id}}" style="border-left: #FFC900 solid 5px;">
				<span ng-bind-html="post.title.rendered"></span>
			
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>