<ion-view view-title="Dónde estamos">
  <ion-content>

		<button class="button button-block button-dark">
		  Misioneros Combonianos
		</button>

	<div class="card">
	  	<div class="item item-divider">
    		<strong>En el Camino de Santiago</strong>
  	  	</div>
	  	<div class="item item-text-wrap">
	    	<strong>Palas de Rei (Lugo)</strong><br>
			Avda. de Orense 37,<br>
			27200 Palas de Rei(Lugo)<br>
			Teléfono: 982380763
	  	</div>
	  	<div class="item item-text-wrap">
	    	<strong>Santiago de Compostela</strong><br>
			Rúa do Rosario, 17 – Apdo. 190<br>
			15703 Santiago de Compostela (A Coruña)<br>
			Tel. 981 58 06 52
	  	</div>

	  	<div class="item item-divider">
    		<strong>Otras comunidades</strong>
  	  	</div>
	  	<div class="item item-text-wrap">
	    	<strong>MADRID</strong><br>
			Arturo Soria, 101<br>
			28043 Madrid<br>
			Tel. 91 415 24 12
	  	</div>
	  	<div class="item item-text-wrap">
	    	<strong>BARCELONA</strong><br>
			Feliu i Codina, 59<br>
			08031 Barcelona<br>
			Tel. 93 427 85 77
	  	</div>
	  	<div class="item item-text-wrap">
	    	<strong>MONCADA (Valencia)</strong><br>
			Avda. Daniel Comboni, 9<br>
			46113 Moncada (Valencia)<br>
			Tel. 96 139 12 00
	  	</div>
	  	<div class="item item-text-wrap">
	    	<strong>GRANADA</strong><br>
			Cuesta del Observatorio, 1<br>
			Polígono Universitario de la Cartuja<br>
			Apartado 4132 18080 Granada<br>
			Tel. 958 16 24 74
	  	</div>
	  	<div class="item item-text-wrap">
	    	<strong>PALENCIA</strong><br>
			Puente Don Guarín - Apdo. 123<br>
			34080 Palencia<br>
			Tel. 979 74 83 99
	  	</div>
	</div>	

  </ion-content>
</ion-view>
