<ion-view view-title="Dónde estamos">
  <ion-content>

		<button class="button button-block button-dark">
		  Misioneros Combonianos
		</button>

	<div class="card">
	  	<div class="item item-text-wrap">Los Misioneros Combonianos del Corazón de Jesús (MCCJ) somos una  instituto religioso, esencialmente misionero, internacional, presente en cuatro continentes.<br><br> Trabajamos para transmitir a la sociedad y la Iglesia española la pasión por África, por los más abandonados y por la misión más allá de toda frontera, recibida de nuestro fundador Daniel Comboni.
	  	</div>


	  	<div class="item item-divider">
    		<strong>Daniel Comboni</strong>
  	  	</div>
	  	<div class="item item-text-wrap">Nace en Limone Sul Garda (Italia) en 1831. Muere en Jartum, Sudán el 10 de Octubre de 1881. Fue beatificado en Roma el 17 de Marzo de 1996 y canonizado el 05 de Octubre de 2003.<br><br><img src="img/comboni.jpg" width="100%">
	  	</div>

	</div>	

  </ion-content>
</ion-view>
