<ion-view view-title="Aguiluchos">
  <ion-content padding="true">

<div class="list card">

  <div class="item item-body">
    <img class="full-image" src="img/children.png">
    <p>Aguiluchos es una revista dirigida a niños y adolescentes con la finalidad de despertar en ellos el espíritu misionero y de hacerles llegar un mensaje de fraternidad y solidaridad con otros pueblos, especialmente del continente africano.</p>
    <a href="http://aguiluchos.net" style="text-decoration:none; ">Nuestra web</a>
  </div>

</div>

  
  </ion-content>
</ion-view>

