<ion-view view-title="Comic">
  <ion-content padding="true">
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>
	<ion-list>
		<ion-item class="item-icon-right item-thumbnail-left" ng-repeat="postComic in postsComic track by $index" href="#/app/posts/{{postComic.id}}" track>
			<img ng-if="postComic.featured_image" ng-src="{{postComic._embedded['http://v2.wp-api.org/attachment'][0][$index].source_url}}" class="alignleft" />

	        <img width="100px" ng-src="{{postComic.better_featured_image.source_url}}" / style="object-fit: cover;">

			<h2 ng-bind-html="postComic.title.rendered"></h2>
			<p ng-if="postComic.excerpt.rendered" ng-bind-html="postComic.excerpt.rendered"></p>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>

  
  </ion-content>
</ion-view>