<ion-view view-title="Recientes">

  <ion-content>
  <ion-refresher on-refresh="doRefresh()"></ion-refresher>


<!-- 		<ion-slide-box on-slide-changed="slideHasChanged($index)" style="height: 300px">
		  <ion-slide class="rec_slider">
			<img ng-src="{{postsAll[0].better_featured_image.source_url}}"/>
		  </ion-slide>
		  <ion-slide class="rec_slider">
		    <img ng-src="{{postsAll[1].better_featured_image.source_url}}"/>
		  </ion-slide>
		  <ion-slide class="rec_slider">
		    <img ng-src="{{postsAll[2].better_featured_image.source_url}}"/>
		  </ion-slide>
		</ion-slide-box> -->

<div class="card">
  <div class="item item-text-wrap" ng-repeat="post in postsAll | limitTo : 1 track by $index">
	<a href="#/app/posts/{{post.id}}" style="text-decoration:none;">
		<img ng-src="{{post.better_featured_image.source_url}}" / style="object-fit: cover; width: 100%;">
		<h2 ng-bind-html="post.title.rendered"></h2>
  	</a>
  </div>
</div>

	<ion-list>
		<ion-item class="item-icon-right item item-thumbnail-left" ng-repeat="post in postsAll | limitTo : 3 : 1 track by $index" href="#/app/posts/{{post.id}}">
	        <img width="100px" ng-src="{{post.better_featured_image.source_url}}" / style="object-fit: cover;">
			<h2 ng-bind-html="post.title.rendered"></h2>
			<p ng-if="post.excerpt.rendered" ng-bind-html="post.excerpt.rendered"></p>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>

<ion-scroll zooming="true" direction="x">
  <div class="smooth_slider">
  	<div class="smooth_slider_box">
  		<a href="#/app/posts/{{postsAll[0].id}}" style="text-decoration:none;">
  			<img ng-src="{{postsAll[0].better_featured_image.source_url}}" class="smooth_slider_img" />
 			<h4 class="smooth_slider_txt" ng-bind-html="postsAll[0].title.rendered"></h4>
 		</a>
  	</div>

  	<div class="smooth_slider_box">
  		<a href="#/app/posts/{{postsAll[2].id}}" style="text-decoration:none;">
 			<img ng-src="{{postsAll[2].better_featured_image.source_url}}" class="smooth_slider_img" />
 			<h4 class="smooth_slider_txt" ng-bind-html="postsAll[2].title.rendered"></h4>
 		</a>
  	</div>

  	<div class="smooth_slider_box">
  		<a href="#/app/posts/{{postsAll[4].id}}" style="text-decoration:none;">
			<img ng-src="{{postsAll[4].better_featured_image.source_url}}" class="smooth_slider_img"/>
			<h4 class="smooth_slider_txt" ng-bind-html="postsAll[4].title.rendered"></h4>
		</a>
  	</div>

  	<div class="smooth_slider_box">
  		<a href="#/app/posts/{{postsAll[5].id}}" style="text-decoration:none;">
 			<img ng-src="{{postsAll[5].better_featured_image.source_url}}" class="smooth_slider_img"/>
			<h4 class="smooth_slider_txt" ng-bind-html="postsAll[5].title.rendered"></h4>
		</a>
  	</div>
  </div>
 </ion-scroll>

	<ion-list>
		<ion-item class="item-icon-right item item-thumbnail-left" ng-repeat="post in postsAll | limitTo : 3 : 4 track by $index" href="#/app/posts/{{post.id}}">

	        <img width="100px" ng-src="{{post.better_featured_image.source_url}}" / style="object-fit: cover;">

			<h2 ng-bind-html="post.title.rendered"></h2>
			<p ng-if="post.excerpt.rendered" ng-bind-html="post.excerpt.rendered"></p>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>



<!--   <h4 class="title mysubtheme">Telemundo</h4>
	<ion-list>
		<ion-item class="item-icon-right item item-thumbnail-left" ng-repeat="post in postsTele track by $index" href="#/app/posts/{{post.id}}" track>
			<img ng-if="post.featured_image" ng-src="{{post._embedded['http://v2.wp-api.org/attachment'][0][$index].source_url}}" class="alignleft" />

	        <img width="100px" ng-src="{{post.better_featured_image.source_url}}" / style="object-fit: cover;">

			<h2 ng-bind-html="post.title.rendered"></h2>
			<p ng-if="post.excerpt.rendered" ng-bind-html="post.excerpt.rendered"></p>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>

  <h4 class="title mysubtheme">Comic</h4>
	<ion-list>
		<ion-item class="item-icon-right item-thumbnail-left" ng-repeat="postComic in postsComic track by $index" href="#/app/posts/{{postComic.id}}" track>
			<img ng-if="postComic.featured_image" ng-src="{{postComic._embedded['http://v2.wp-api.org/attachment'][0][$index].source_url}}" class="alignleft" />

	        <img width="100px" ng-src="{{postComic.better_featured_image.source_url}}" / style="object-fit: cover;">

			<h2 ng-bind-html="postComic.title.rendered"></h2>
			<p ng-if="postComic.excerpt.rendered" ng-bind-html="postComic.excerpt.rendered"></p>
			<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</ion-list>

  <h4 class="title mysubtheme">Destak2</h4>
	<ion-list>
		<ion-item class="item item-thumbnail-left" ng-repeat="postDestak2 in postsDestak2 track by $index" href="#/app/posts/{{postDestak2.id}}" track>
	        <img width="100px" ng-src="{{postDestak2.better_featured_image.source_url}}" / style="object-fit: cover;">
			<h2 ng-bind-html="postDestak2.title.rendered"></h2>
			<p ng-if="postDestak2.excerpt.rendered" ng-bind-html="postDestak2.excerpt.rendered"></p>
			<!-- <i class="icon ion-chevron-right icon-accessory"></i> 
		</ion-item>
	</ion-list> -->

	<ion-infinite-scroll
	ng-if="moreDataExists()"
    on-infinite="loadMore()"
    distance="1%"
    immediate-check="false">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
