body{
	/*background-image: url("../img/wood1.jpg");*/
	background-image: url("../img/map_background.png");
	background-size: 100%;
	background-repeat: repeat-x;
	/*background-color: green;*/
	overflow-y: hidden;
	/*overflow-x: hidden;*/
    overflow-x: scroll;
         max-height:100%;
}
#svg_lines{
	position: absolute;
	stroke:rgb(0,255,0);
	stroke-width:3;	
}
.svg1{display: none;}
#bt1{
	position: absolute;
	right: 80px;
	top: 100px;
	width: 100px;
	height: 40px;
	font-size: 30px;
	border: black solid 1px;
	z-index: 12;	
}
.tm1,.tm2,.tm3{
	position: absolute;
	width: 6500px;	/*history width*/
	height: 34%;	
}
.tm1{
	background-color: rgba(128,62,65,.6);
	top:0%;
}
.tm2{
	background-color: rgba(97,128,62,.6);
	top:34%;
}
.tm3{
	background-color: rgba(95,62,128,.6);
	top:68%;
}
.tm_text{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	padding-left: 30px;
  	font-family: Georgia;
  	font-size: 45px;
}

.line{
	background-image: url("../img/left_gray_line.png");
	background-size: 8.33% 100%;
	position: absolute;
	border-left: green solid 3px;
	height: 100%;
	width: 1000px;
	font-size: 30px;
}
#l1{left:500px}
#l2{left:1500px}
#l3{left:2500px}
#l4{left:3500px}
#l5{left:4500px}
#l6{left:5500px}
.text_line{
	color:blue;
	position: relative;
  	top: 37%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	width: 80px;
  	border: black solid 1px;
  	border-radius: 10px;
  	background-color: rgba(100,100,100,.6);
  	text-align: center;
  	margin-left: 3px;
}
.month_text{
	position: absolute;
	top:-30px;
	font-size: 18px;
}

#month01{left:25px;}
#month02{left:105px;}
#month03{left:190px;}
#month04{left:270px;}
#month05{left:350px;}
#month06{left:430px;}
#month07{left:520px;}
#month08{left:600px;}
#month09{left:685px;}
#month10{left:770px;}
#month11{left:850px;}
#month12{left:930px;}

.color01{background-color: rgba(200,50,200,.7);}
.color02{background-color: rgba(50,200,200,.7);}
.color03{background-color: rgba(200,200,50,.7);}
.color04{background-color: rgba(200,50,50,.7);}
.color05{background-color: rgba(50,50,200,.7);}
.color06{background-color: rgba(50,200,50,.7);}
.color07{background-color: rgba(150,50,150,.7);}
.color08{background-color: rgba(50,150,150,.7);}
.color09{background-color: rgba(150,150,50,.7);}
.color10{background-color: rgba(150,50,50,.7);}
.color11{background-color: rgba(50,50,150,.7);}
.color12{background-color: rgba(50,150,50,.7);}
.color13{background-color: rgba(100,100,50,.7);}
.color14{background-color: rgba(100,50,50,.7);}

.big_point{
	position: absolute;	
    font-size: 24px;
    font-size: 1.8vw;
	border: gray solid 2px;
	border-radius: 4px;
	padding: 5px;
}
.big_point:hover{
	cursor: pointer; 
	cursor: hand; 
}
.text_hidden{
	display: none;
	position: absolute;
	left: 15px;
	width: 300px;
	height: auto;
	z-index: 11;
	border: black solid 1px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(200,200,200,.8);
	white-space: normal;
	word-wrap: break-word;
	font-size: 16px;
}
.med_point{
	position: absolute;	
	font-size: 24px;
	border: gray solid 2px;
	border-radius: 4px;
	padding: 5px;
}
.med_point:hover {
	cursor: pointer; 
	cursor: hand; 
}
.badge_cir{
	position: absolute;
	top: -15px;
	left: -15px;
	border: gray solid 1px;
	padding: 3px;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	font-size: 14px;
	background-color: yellow;
	text-align: center;
	z-index: 10;	
}
.badge_con{
	position: absolute;
	top: -15px;
	left: -15px;
	border: gray solid 1px;
	padding: 3px;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	font-size: 14px;
	background-color: orange;
	text-align: center;
	z-index: 10;
}
.badge_dg{
	position: absolute;
	top: -15px;
	left: -15px;
	border: gray solid 1px;
	padding: 3px;
	width: 25px;
	height: 20px;
	border-radius: 15px;
	font-size: 14px;
	background-color: pink;
	text-align: center;
	z-index: 10;
}
.badge_int{
	position: absolute;
	top: -15px;
	left: -15px;
	border: gray solid 1px;
	padding: 3px;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	font-size: 14px;
	background-color: green;
	text-align: center;
	z-index: 10;
}
.recur{
	position: absolute;
	width: 500px;
	height: 70px;
	left: 150px;
	top: 10%;
	background-image: url("../img/arrow-right.png");
	background-size: 70px 40px;
	background-repeat:repeat-x;	
}

#intercap{
	position: absolute;
	top:58%;
	left: 650px;
	z-index: 10;
}
#xixcap{
	position: absolute;
	top:58%;
	left: 650px;
	z-index: 10;
}


#m_1{top:3%;left:30px;}
#m_2{top:12%;left:60px;}
#m_3{top:22%;left:90px;}

#p_1{top:35%;left:160px;}
#p_2{top:40%;left:20px;}
#p_3{top:45%;left:210px;}
#p_4{top:50%;left:20px;}
#p_5{top:55%;left:250px;}
#p_6{top:60%;left:15px;}

#r_1{top:70%;left:200px;}
#r_2{top:75%;left:20px;}
#r_3{top:80%;left:210px;}
#r_4{top:85%;left:20px;}
#r_5{top:90%;left:220px;}

#m_1_1{top:3%;left:500px;}
#m_1_2{top:3%;left:800px;}
#m_1_3{top:10%;left:0px;}
#m_1_4{top:15%;left:450px;}
#m_1_5{top:1%;left:500px;}
#m_1_6{top:10%;left:650px;}
#m_1_7{top:5%;left:850px;}

#m_2_1{top:17%;left:900px;}
#m_2_2{top:23%;left:650px;}
#m_2_3{top:17%;left:500px;}
#m_2_4{top:15%;left:950px;}

#m_3_1{top:20%;left:500px;}
#m_3_2{top:25%;left:800px;}
#m_3_3{top:24%;left:600px;}
#m_3_4{top:20%;left:500px;}
#m_3_5{top:25%;left:850px;}

#p_1_1{top:35%;left:570px;}
#p_1_2{top:35%;left:100px;}
#p_1_3{top:35%;left:300px;}

#p_2_1{top:35%;left:100px;}
#p_2_2{top:42%;left:0px;}
#p_2_3{top:40%;left:0px;}

#p_3_1{top:35%;left:100px;}
#p_3_2{top:38%;left:492px;}
#p_3_3{top:35%;left:850px;}
#p_3_4{top:47%;left:0px;}
#p_3_5{top:38%;left:900px;}

#p_4_1{top:41%;left:750px;}
#p_4_2{top:46%;left:700px;}

#p_5_1{top:55%;left:450px;}
#p_5_2{top:43%;left:800px;}

#p_6_1{top:53%;left:0px;}
#p_6_2{top:60%;left:90px;}
#p_6_3{top:62%;left:500px;}

#r_1_1{top:70%;left:550px;}

#r_2_1{top:70%;left:0px;}
#r_2_2{top:77%;left:10px;}
#r_2_3{top:84%;left:20px;}
#r_2_4{top:91%;left:30px;}

#r_3_1{top:70%;left:600px;}
#r_3_2{top:77%;left:500px;}

#r_4_1{top:80%;left:800px;}
#r_4_2{top:80%;left:800px;}
#r_4_3{top:84%;left:0px;}
#r_4_4{top:70%;left:500px;}


.end{
	position: relative;
	left: 6500px;
	font-size: 50px;
	width: 500px;
	height: 100%;

}



#p1{
	position: absolute;
}


#rvp1{
	position: absolute;
	left: 130px;
	top:500px;
	width: 55px;
	height: 55px;
	background-image: url("../img/plus.png");
	background-size: 50px 50px;
    background-repeat: no-repeat;
	z-index: 12;
}
#rv1{
	display: none;
	position: absolute;
	left: 200px;
	top:500px;
	width: 200px;
	height: auto;
	z-index: 11;
	border: black solid 1px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(150,150,150,.7);
	white-space: normal;
	word-wrap: break-word;
	font-size: 16px;
}
#rvp2{
	position: absolute;
	left: 200px;
	top: 500px;
	width: 55px;
	height: 55px;
	background-image: url("../img/plus.png");
	background-size: 50px 50px;
    background-repeat: no-repeat;
	z-index: 12;
}
#rvp2b{
	position: absolute;
	left: 250px;
	top: 500px;
	width: 55px;
	height: 55px;
	background-image: url("../img/plus.png");
	background-size: 50px 50px;
    background-repeat: no-repeat;
	z-index: 12;
}
#rv2{
	opacity: 0;
	position: absolute;
	left: 250px;
	top: 550px;
	width: 200px;
	height: auto;
	z-index: 11;
	border: black solid 1px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(150,150,150,.7);
	white-space: normal;
	word-wrap: break-word;
	font-size: 16px;
}
#rvp3{
	position: absolute;
	left: 400px;
	top: 500px;
	width: 55px;
	height: 55px;
	background-image: url("../img/plus.png");
	background-size: 50px 50px;
    background-repeat: no-repeat;
	z-index: 13;
}
#rv3{
	display: none;
	opacity: .5;
	position: absolute;
	left: 450px;
	top: 550px;
	width: 200px;
	height: auto;
	z-index: 11;
	border: black solid 1px;
	border-radius: 10px;
	padding: 10px;
	background-color: rgba(150,150,150,.7);
	white-space: normal;
	word-wrap: break-word;
	font-size: 36px;
}


/*viejo*/
#parallaxContainer {
	width: 10000px;
	height: 100%;
	top: 0px;
	position: relative;
}
#parallaxContainer .layer1 {
	background-image: url("../img/forestc.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;

}
#parallaxContainer .layer2 {
	background-image: url("../img/forestb.png");
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
}
#parallaxContainer .layer3 {
	background-image: url("../img/forestas.png");
	background-position: bottom;
	background-repeat: repeat-x;
	position: absolute;
	height: 100%;
	width: 100%;
}
#casa{
	position: absolute;
	top: 40%;
	left:3500px;
}
#pop1{
	position: absolute;
	top: 400px;
	left: 4500px;
	opacity: 0;
}
.bocadillo{
	width: 250px;
	height: 60px;
	border-radius: 50px;
	background-color: rgba(230,230,230,.8);
	padding: 20px;
	border: black solid 3px;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
}
#muneco{
	position: absolute;
	top: 50%;
	left:2000px;
}
#coche{
	position: absolute;
	bottom: 10%;
	left:8500px;
}
#plane{
	position: absolute;
	bottom: 30%;
	left:8000px;
	overflow: hidden;
}


/*Saludo*/
.box_saludo{
	position: absolute;
	left:2300px;
	width: 700px;
	height: 70px;
	border: red solid 1px; /*Activa para ver fundionamiento del saludo*/
	top: 40%;
	overflow: hidden;
}
#saludo{
	position: relative;
	left: -340px;
	width: 340px;
	height: 100px;
}
.texto_saludo {
	position: relative;
	background-color: rgba(200,200,200,.7);
	border: black solid 3px;
	text-align: center;
	font-family: Georgia;
	font-size:30px;
	padding: 20px;
	border-radius: 20px;
}

#parallaxText {
	width: 0;
	height: 100%;
	margin: auto;
	position: relative;
}
#parallaxText .layer1, #parallaxText .layer2, #parallaxText .layer3 {
	position: absolute;
	font-size: 50px;
	line-height: 50px;
	margin-left: -150px;
	margin-top: -25px;
	width: 300px;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #133f71;
}
#parallaxText .layer1 {
	top: 48%;
}
#parallaxText .layer2 {
	top: 49%;
}
#parallaxText .layer3 a {
	display: block;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}
#parallax1 > div, #parallax2 > div, #parallax3 > div {
	-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;-webkit-perspective: 1000;
}
