<ion-view view-title="Lesson XXXX">
  <ion-content class="padding has-header" ng-class="fontSize">
<!--

 style="font-style: italic; margin-left:15px;"

style="margin: 0 15px 5px 0; border:black solid 1px;"

<i class="icon ion-record" style="font-size: 8px;"></i> &nbsp;

<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;


-->
<div class="row">
  <div class="col text-right">
    <button class="button" ng-click="increase()"><i class="ion-plus-round"></i></button>
    <button class="button" ng-click="decrease()"><i class="ion-minus-round"></i></button></div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_1">
    <h1 class="tit_1">Title 1</h1>
  </div>
  <div class="item item-text-wrap">
    <p class="intro">Intro</p>
  </div>
</div>

<a class="button button-large button-assertive" href="#/app/video03">
  See video
</a>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    title
  </div>
  <p class="item item-text-wrap">
    text</p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    title
  </div>
  <p class="item item-text-wrap">
    text  
    <br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    title
  </div>
  <p class="item item-text-wrap">
    text
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    title
  </div>
  <p class="item item-text-wrap">
    text
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    title
  </div>
  <p class="item item-text-wrap">
     text
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    title 
  </div>
  <p class="item item-text-wrap">
     text  
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap">
    For more information refer to:
  </div>
  <p class="item item-text-wrap">
     Gachanga, Timothy. “Building Peace in schools through African Traditional Values: A Case Study of Primary Schools in Kariobangi and Korogocho, Nairobi. <span class="italic">Msingi Journal, Vol. 1, No. 1.</span> 2014.
  </p>  
</div>



  </ion-content>
</ion-view>