<ion-view view-title="Lesson 2">
  <ion-content class="padding has-header" ng-class="fontSize">

<div class="row">
  <div class="col text-right">
    <button class="button" ng-click="increase()"><i class="ion-plus-round"></i></button>
    <button class="button" ng-click="decrease()"><i class="ion-minus-round"></i></button></div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_1">
    <h1 class="tit_1">Sources of Peace Knowledge</h1>
  </div>
  <div class="item item-text-wrap">
    <p class="intro">At the end of this lesson, you should be able to describe opportunities through which we can learn about peace.</p>
  </div>
</div>

<a class="button button-large button-assertive" href="#/app/video2">
  See video
</a>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Learning Institutions
  </div>
  <p class="item item-text-wrap">
    Learning institutions are a major source and means of expression of peace knowledge. By learning institutions, we are referring to schools, colleges and universities and even churches. There are many opportunities through which we get exposed to peace knowledge. This is because learning institutions bring together people from various cultural backgrounds and there are numerous opportunities through which these cultural mosaics interact hence transmitting peace knowledge.</p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Elders
  </div>
  <p class="item item-text-wrap">
    Elders still participate in generating life through their experience, which they pass on to younger ones. They know how life comes about and how it ought to be preserved and passed on. Fugleang (1982) describes elders as the “information storage and processing unit” of a society, like the hard drive on a computer (p. 2). Throughout history, elders have helped communities to build and maintain peace by teaching indigenous values and virtues, which enhanced African morality and community life. Evidence indicates that many cases were (and still are) resolved and reconciled by elders after other means failed. They are thus accorded maximum respect for their wisdom.
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Books
  </div>
  <p class="item item-text-wrap">
    Books are another important source of peace knowledge. 
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Media
  </div>
  <p class="item item-text-wrap">
    The print media, radio, and television are another important source of peace knowledge. This underlies the important role media plays in transmitting values within society. As Schultze (1994) has noted, media is currently competing directly with parents, pastors and teachers for the job of raising children. At the same time, traditional authority figures are increasingly distraught over the apparent power of the media to shape the youth’s values and beliefs (p. 17).
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Peers
  </div>
  <p class="item item-text-wrap">
     A peer group shelters and protects its members. It gives them psychological sustenance by meeting emotional needs of affection, understanding and acceptance. Peer groups provide an effective learning situation: it transmits the culture of society, teaches certain roles and social expectations and conditions the attitudes and sentiments of its members.
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Peace clubs/ social networks 
  </div>
  <p class="item item-text-wrap">
     Peace clubs and social networks are an important source of information on peace knowledge. By peace clubs/social networks, we mean voluntary associations or extracurricular movements within school/society that are aimed at building peace. Through clubs, students learn many things not necessarily about what their teachers intend them to learn. The students can decide on the activities to undertake as well as the timing. There is also minimum external pressure and the activities could be confined to a single theme, usually from the members’ interests. 
  </p>  
</div>


<div class="card">
  <div class="item item-divider item-text-wrap">
    For more information refer to:
  </div>
  <p class="item item-text-wrap">
     Gachanga, Timothy. “Building Peace in schools through African Traditional Values: A Case Study of Primary Schools in Kariobangi and Korogocho, Nairobi. <span class="italic">Msingi Journal, Vol. 1, No. 1.</span> 2014.
  </p>  
</div>



  </ion-content>
</ion-view>