<ion-view view-title="Lesson 11">
  <ion-content class="padding has-header" ng-class="fontSize">

<div class="row">
  <div class="col text-right">
    <button class="button" ng-click="increase()"><i class="ion-plus-round"></i></button>
    <button class="button" ng-click="decrease()"><i class="ion-minus-round"></i></button></div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_1">
    <h1 class="tit_1">Peace education in Rwanda</h1>
  </div>
  <div class="item item-text-wrap">
    <p class="intro">At the end of this lesson, you should be able to describe measures that the post-genocide government of the model Rwanda put in place in order to reconstruct the national educational system as a peace-building mechanism. </p>
  </div>
</div>

<a class="button button-large button-assertive" href="#/app/video11">
  See video
</a>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Introduction
  </div>
  <p class="item item-text-wrap">
    National education system in Rwanda has been a major source of conflict between the government and civil society, the Hutu, Tutsi, and Twa ethnic groups. Colonial administration reinforced discrimination, competition, and intolerance between ethnic groups (Obura, 2003). Totalitarian governments used educational system as a means to preserve their power through: 

<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Designing educational policies that discriminated against segments of the population, 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Writing national textbooks to dehumanize and demonize targeted ethnic groups to maintain animosity between groups, 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Supporting a parallel school structure that polarized school-age children by ethnicity, and 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Labeling school-age children with identification cards that targeted them for marginalization and violence. 

<br><br>The colonial governed society based on the disputed Hemetic theory (Obura, 2003).The theory,  
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Professed that Africans who resembled tribes of Europe were the rightful masters. Members of the Tutsi population were positioned at the top of the hierarchical system and were perceived as being innately superior to the Hutu and Twa ethnic groups. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Justified measuring intellectual capacity based on physical features, advanced educational opportunities primarily to the Tutsis monocracy and population, and demonized the Hutu and Twa population as being less than human, uncivilized, and incapable of benefiting from formal education.
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Transmitted to governance policies, classroom pedagogy, and into the consciousness of teachers and learners (Uvin, 1999, Obura, 2003).

<br><br>Notions of superiority and inferiority associated with each ethnic group were taught, consciously internalized, and acted upon. Children often first learned of their identities in the school setting and were treated accordingly. One’s identity dictated the quality and quantity of formal education achieved during this era. 

<br><br>The colonial administration also established ethnic identification cards that were instrumental in branding every school-age child as having a Hutu, Tutsi, or Twa identity (Rutayisire, Kabano, and Rubagiza, 2004). Rwandans, identified as Hutu or Twa, were largely denied formal education due to their physical attributes and involuntary membership in their ethnic group. This system adversely affected the relationship between these groups and established damaging stereotypes in the consciousness of all stakeholders within the national educational system. 

<br><br>In the national school curriculum and classroom lesson plans, the Tutsi minority were frequently referred to as “evil,” “snakes,” and “cockroaches” (Obura, 2003). Entire ethnic groups were discriminated against and/or excluded from receiving equal access to educational opportunities because of their ethnicities. Teachers and learners were socialized to act on injurious ideologies and stereotypes about themselves and ethnic groups different from their own. Formal education prepared perpetrators to kill in the 1994 genocide on one hand, and encouraged victims to accept the unjust conditions of their deaths. </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Stages of Genocide
  </div>
  <p class="item item-text-wrap">
1. Classification - distinguishing people into “us” and “them”.
<br><br>2. Symbolization – giving names and symbols to classifications. 
<br><br>3. Dehumanization – one group denies the humanity of the other group
<br><br>4. Organization – plans made for genocidal killings
<br><br>5. Polarization – extremists drives the groups apart
<br><br>6. Preparation – victims identified and separated because of their ethnic or religious identity
<br><br>7. Extermination – annihilation 
<br><br>8. Denial – perpetrators of genocide dig up mass graves, burn the bodies, try to cover up the evidence and intimidate the witnesses. 
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Post-Genocide
  </div>
  <p class="item item-text-wrap">
    The post-genocide government of Rwanda envisioned the reconstruction of the national educational system as a peace-building mechanism. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;The aim - promote national unity, eliminate the injustices of the past, and make every child - irrespective of ethnic identity - feel as if the new system were his or her own. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;The new government envisioned the reconstruction of formal education as an opportunity to change areas of it that had caused ethnic imbalances, suffering, and exclusion. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;The government also publicly articulated formal education as a system in place to promote national unity, reconciliation, and healing. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Common attributes that bind Rwandans (such as language, history, and the values of unity, solidarity, and courage) were highlighted. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;The government’s vision was targeted to empower every citizen – irrespective of ethnic identity – to participate in the elimination of destructive errors of the former system. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Vision set the tone for negotiating a new relationship between the government and civil society stakeholders. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Trilingual language policies were established to accommodate English-speaking children who were formerly exiled in neighboring Anglophone countries. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Destructive elements of the national curriculum were removed from textbooks and other curricular materials. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;International assistance provided built the capacity of these financially strapped nations to meet several promised policy goals in the early reconstruction period. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Support from UNICEF, for example, funded teachers’ salaries and provided food rations to teachers as a recruitment strategy (Obura, 2003). 
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Symbolic measures
  </div>
  <p class="item item-text-wrap">
<i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Only months after the genocide, ethnic quotas instituted by the First and Second republic were abolished. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Classifying teachers and learners by ethnic identity became illegal. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;The national curriculum was publicly repudiated. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;Some bias content was removed from national textbooks and curricular materials. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;History education was eliminated from the national curriculum in its entirety. 
<br><br><i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;New admission procedures into primary, secondary, and tertiary schools admitted students based upon merit rather than ethnic or regional affiliations. 
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Conclusion
  </div>
  <p class="item item-text-wrap">
     In this lesson, we have looked at how colonial government sowed seeds of genocide in Rwanda through education. We’ve also learnt symbolic measures that the post-genocide government put in place in order to reconstruct the national educational system as a peace-building mechanism. 
  </p>  
</div>

  </ion-content>
</ion-view>