<ion-view view-title="Lesson 7">
  <ion-content class="padding has-header" ng-class="fontSize">

<div class="row">
  <div class="col text-right">
    <button class="button" ng-click="increase()"><i class="ion-plus-round"></i></button>
    <button class="button" ng-click="decrease()"><i class="ion-minus-round"></i></button></div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_1">
    <h1 class="tit_1">Mainstreaming peace across curriculum</h1>
  </div>
  <div class="item item-text-wrap">
    <p class="intro">At the end of this lesson, you should be able to integrate peace issues in sports. </p>
  </div>
</div>

<a class="button button-large button-assertive" href="#/app/video07">
  See video
</a>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Introduction
  </div>
  	<p class="item item-text-wrap">
    The United Nations defines sports as “all forms of physical activity that contribute to physical fitness, mental well-being and social interaction such as play, recreation, organized casual or competitive sport; and indigenous sports or games (UN 2003). 
    </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Sports have many attributes that teachers may leverage in peace building. 
  </div>
  <p class="item item-text-wrap">
1. Sport, games and physical activity in general are present in virtually every society (Cardenas, 2013).<br><br>
2. The popularity of sport transcends political, national and ideological borders and it is enjoyed by spectators and participants alike  (Cardenas, 2013)<br><br>
3. It fosters social integration, social identity.<br><br>
4. Is a collective experience<br><br>
5. It requires, in most cases, direct physical contact or at least direct communication<br><br>
6. It can be(depending on context) transcend class divisions, either in the act of participating or watching<br><br>
7. Offers opportunities for social networking and relationship building<br><br>
8. Sport provides a platform for dialogue, fair play, non-discrimination, respect for others, respect for rules, and teamwork, to promote and protect diversity. <br><br>
9. Offer a neutral playing field encouraging dialogue and understanding between peoples.<br><br>
10. Sport can also serve as a ‘classroom’ where participants learn about social skills such as teamwork, leadership and cooperation, thus providing an ideal environment to foster healthy individual and collective development (Cardenas, 2013).<br><br>
11. Physical activity may be instrumental in preventing deviant and antisocial behavior and that sport can assist in the rehabilitation of offenders.<br><br>
12. There have been several instances where sport has been instrumental in supporting formal processes of peace building and conflict resolution. In Sierra Leone during the civil war for instance, a football festival in the Bo region was one of the few activities that could provide a sense of normality during the conflict. According to  (Anneke, 2010), football had the power to literally stop the war. <br><br>
13. Sport are tools for civic education which help to develop important individual and social competences, and thus to know one another better and live together better.<br><br>
14. Participation at sport events provides opportunities for people to come together to socialize and be entertained, and to develop contacts, friendships and networks (Nico Schulenkorf and Deborah Edwards, 2012).<br><br>
15. Sport events can enhance individual and collective capacities, improve efficacy, create social capital and where poverty is implicated, promote social and economic justice and wellbeing (Nico Schulenkorf and Deborah Edwards, 2012).<br><br>
16. Improves community spirit and pride, enhance cultural traditions, attitudes, beliefs and values. <br><br>
17. Sports activities can contribute to people regaining a step by step sense of security and confidence when approaching new people, groups and even politically opposed communities (Nico Schulenkorf and Deborah Edwards, 2012). In this case, sports are viewed as superordinate goals which are defined as overarching aims that have compelling appeals for members of each group but that neither group can achieve without participation of the other. <br><br>
18. Create peace themes during sporting events<br><br>
19. Use popular role models as peace ambassadors<br><br>
20. Compose peace songs to cheer up the teams<br><br>
21. Use sport activities for peace education. Sports bring people together. <br><br>
22. Form teams consisting of members from opposing sides<br><br>
23. Dialogue before the game<br><br>
24. Be objective in the match; sports for common good<br><br>
25. Make a prayer before the match and after the match<br><br>
26. Exchange jerseys Wadebora_3  
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    How to use sport in reconciliation (Serena, 2009)
  </div>
  <p class="item item-text-wrap">
    1. Define the outcome, what success looks like. Normalization of life, tolerance, social cohesion and integration among children and adults from different communities can be considered as achievements.<br><br>
2. Understand the conflict and the culture where the conflict takes palce<br><br>
3. Base the activities on the commonalities and mutual interests/identity<br><br>
4. Use peer educators and train them with sport, peace building and conflict management skills so as to ensure openness and interaction rather than teacher-student and top-down approach<br><br>
5. Be conscious of distribution of services across conflicting lines. A one side support might spawn conflict rather than reduce it.<br><br>
6. Know how to handle immediate conflicts within the group.<br><br>
7. Know how to handle differences in the groups and how to perceive them as an asset<br><br>
8. Use a participatory approach in decision making process in order to increase their sense of ownership<br><br>
9. Focus on daily activities at grassroots level, using events and elite athletes to gather more youth and to promote the idea of reconciliation;<br><br>
10. Promote fair play rather than win at all costs<br><br>
11. Be sensitive in understanding group dynamics to immediately address possible conflicts arising among participants;<br><br>
12. Create a social network with other actors from each level, grassroots, middle and top level;<br><br>
13. Focus on the process of healing, building relationship and empathy rather than the sport itself;<br><br>
14. Develop a monitoring and evaluation mechanism able to proof the impact of sport in reconciliation with qualitative and quantitative indicators;<br><br>
15. Observe, look listen and learn. 
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Conclusion
  </div>
  <p class="item item-text-wrap">
    In this lesson, we have learnt ways through which one can integrate peace issues in sports. We’ve also learnt that sport, games and physical activities are present in virtually every society. They also transcend political, national and ideological borders and it is enjoyed by spectators and participants alike.  
  </p>  
</div>





  </ion-content>
</ion-view>