<ion-view view-title="Lesson 1">
  <ion-content class="padding has-header" ng-class="fontSize">

<div class="row">
  <div class="col text-right">
    <button class="button" ng-click="increase()"><i class="ion-plus-round"></i></button>
    <button class="button" ng-click="decrease()"><i class="ion-minus-round"></i></button></div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_1">
    <h1 class="tit_1">Introduction to peace Education</h1>
  </div>
  <div class="item item-text-wrap">
    <p class="intro">At the end of this lesson, you should be able to define peace and explain shortcomings in the different understandings of peace. This is important because you cannot champion something that is inadequately understood and conceptualized. Narrow conception of the term may influence the way they build peace in schools/society</p>
  </div>
</div>

<a class="button button-large button-assertive" href="#/app/video01">
  See video
</a>

<!--  <div class="row">
  <div class="col"><a href="#/app/video01" class="button button-full button-assertive" style="margin-right:50px;">Video</a></div>
  <div class="col"><a href="#/app/assignment01" class="button button-full button-assertive">Assignment</a></div>
</div> -->

<div class="card">
  <div class="item item-divider item-text-wrap stable tit_2">
    <div class="tit_2">What is peace?</div>
  </div>  
</div>


<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Conception 1: Peace as absence of violence
  </div>
  <p class="item item-text-wrap">
    Many people understand peace in three different ways. To some, peace is absence of violence. By this, they mean absence of overt physical harm to persons and to property which originate from wars and riots. For instance, some people define peace as:<br><br>
  
    <b>1.</b> It is an act of being not in war with anybody <br>
    <b>2.</b> Is a mood of silence; when there is no conflict or war <br>
    <b>3.</b> No conflicting issues <br><br>

    This conception of peace holds that the maintenance of law and order and the search of stability are primarily objectives of peace. In this understanding of peace, the absence of visible (overt) violence provides an indicator of successful peace and peace building. When there is no violence in, then there is peace. Caning and corporal punishments are usually the instruments used to bring about and enforce this ‘type of peace.’ <br><br>

    This conception preoccupies itself with controlling overt violence. This may condone or perpetrate more covert violence arising from unjust, repressive and oppressive punishments. Schools that over-use the cane make students resent the discipline measure and become violent. 
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Conception 2: Peace is a condition of tranquility
  </div>
  <p class="item item-text-wrap">
    For others, peace is viewed as a condition of tranquility where there is no disagreement or disputes, conflicts and people, individually and collectively, live in calm and serenity. Examples of such perception include:<br><br>
  
    <b>1.</b> Peace means living in harmony with others in society <br>
    <b>2.</b> When there is no disturbance, smooth running of an event  <br>
    <b>3.</b> Is stability  <br>
    <b>4.</b> When the environment is conducive   <br><br>

    This conception fails to recognize conflict as a fact of life. Instead of acknowledging its existence and learning to use appropriate mechanisms to deal with it, this conception can lead people into misguided perception that if you avoid conflict, it will go away. 
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Conception 3: Peace is transformation of conflicts
  </div>
  <p class="item item-text-wrap">
    For still others, peace goes beyond a preoccupation with the absence of conflict or violence. It is seen as the transformation of conflictual and destructive interaction into more cooperative and constructive relationship. This understanding equates peace with conflict transformation and resolution. In this view, peace is not simply a state of general tranquility or an imposed order that suppress discord, but rather a network of relationships full of energy and differences. Examples of such perception include:<br><br>
  
    <b>1.</b> Loving one another and working together as a team) <br>
    <b>2.</b> Understanding or accepting one another <br>
    <b>3.</b> From the Biblical point of view, peace is the seedbed of righteousness and so is my understanding. When people live in harmony, unity, love without conflicts and problems resulting from poor interpersonal relationships they live in an environment termed to be peaceful   <br><br>

    In this conception of peace, structures are available through which personal and social differences can be identified and worked out in ways satisfactorily to all involved parties as well as to the society at large. Sometimes in this process, the status quo may be disturbed or long-standing structures may be shaken; but this definition maintains that peace is achieved only when the root causes of the differences or conflictual relationships are explored and resolved. 
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Why it is important to understand what peace is
  </div>
  <p class="item item-text-wrap">
    You cannot champion something that is inadequately understood and conceptualized. Narrow conception of the term may influence the way they build peace in schools/society.
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap">
    For more information refer to:
  </div>
  <p class="item item-text-wrap">
     Gachanga, Timothy. “Building Peace in schools through African Traditional Values: A Case Study of Primary Schools in Kariobangi and Korogocho, Nairobi. <span class="italic">Msingi Journal, Vol. 1, No. 1.</span> 2014.
  </p>  
</div>

  </ion-content>
</ion-view>