<ion-view view-title="Lesson 10">
  <ion-content class="padding has-header" ng-class="fontSize">

<div class="row">
  <div class="col text-right">
    <button class="button" ng-click="increase()"><i class="ion-plus-round"></i></button>
    <button class="button" ng-click="decrease()"><i class="ion-minus-round"></i></button></div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_1">
    <h1 class="tit_1">Peace education in Liberia</h1>
  </div>
  <div class="item item-text-wrap">
    <p class="intro">At the end of this lesson, you should be able to describe the model the Liberians used to reconstruct the war-torn country.</p>
  </div>
</div>

<a class="button button-large button-assertive" href="#/app/video10">
  See video
</a>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Introduction
  </div>
  <p class="item item-text-wrap">
    Sierra Leone was devastated by two bloody internal wars that took place between 1989 and 2003. Many of the fighters and other soldiers in the wars were young people, some of whom had been abducted and others who sought revenge for wrongdoings against them and their family members or saw life inside an armed group as their best option out of a set of bad options. Once in the armed groups, many young people were plied with drugs and given so-called traditional charms or rituals believed locally to make them bulletproof (Human Rights Watch 2004).

<br><br>Following the conflict, communities feared the young people, who, as had occurred in Sierra Leone, were regarded as dangerous troublemakers and as possible kindling for additional fighting. There was therefore the need for community reconciliation to forge or renew basic social bonds that had been severely damaged by the civil war.</p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Peace education model
  </div>
  <p class="item item-text-wrap">
    To address this situation, the Christian Church Foundation of Liberians (CCF/Liberia) worked through local leaders and other influential people to organize Forgiveness Festivals in numerous counties. The festivals, which typically ran for a full day, celebrated peace by means of song and dance. They also provided organized games that promoted teamwork and group cohesion and offered community dramas that illustrated themes of peace and reconciliation. In addition, they included speeches in which formerly recruited young people—girls as well as boys— apologized publicly and asked the community to forgive them for what had happened during the war.

<br><br>Overall, however, the festivals were as much about improving relations and moving past the war as about forgiveness per se. In many cases, they were preceded by peace dialogues facilitated by CCF’s Liberian staff.

<br><br>Although the festivals were designed to be fun, they carried the serious message that it is time to put war behind and to move forward in peace.

<br><br>Many youth made peace-oriented statements on behalf of their community. Throughout the day, young people participated in football and kickball matches and in cultural performances. At the end of the day, young people conducted a community drama that featured themes of peace and reconciliation.

<br><br>In interviews conducted with diverse people in these events, participants said that the events had improved relations and brought hope for peace between the two communities, which had not talked in the preceding 15 years. Also, the formerly recruited young people said they felt accepted, and this view resonated with those of adults in the communities. The festivals were followed by additional workshops on peace, which helped to continue the process of peace building and inter-communal reconciliation. Those workshops, in turn, were followed by cooperative, community reconstruction projects such as those developed in Sierra Leone. Although the festivals were only a first step, they laid the foundation for the longer term process of peace building.  
    <i class="icon ion-record" style="font-size: 10px;"></i> &nbsp;
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Liberia: Forgiveness Festivals
  </div>
  <p class="item item-text-wrap">
    Liberia, Sierra Leone’s neighbor to the East, was devastated by two bloody internal wars between 1989 and 2003.Many of the fighters and other soldiers in the wars were young people, some of whom had been abducted and others who sought revenge for wrong doing against them and their family members or saw life inside an armed group as their best option out of a set of bad options. Once in the armed groups, many young people were plied with drugs and given the so called traditional charms or rituals believed locally to make them bulletproof (Human Rights Watch, 2004). Following the conflict, communities feared the young people, who, as had occurred in Sierra Leone, were regarded as dangerous troublemakers and as possible kindling for additional fighting.
<br><br>The need for community reconciliation stemmed not only from the precarious situation of formerly recruited children and youth, but also from the profound disintegration of communities in Liberia. Over a decade of war and displacement, coupled with the desperate competition for resources, the pitting of different factions against each other, and a long history of privileging some local groups over others, produced a situation so low in  social cohesion as to question the appropriateness of the term ‘community’ (Richard et al, 2003) Under such circumstances, an essential component of community reconciliation is to forge or renew basic social bond among people to rekindle the spirit of community as well as to reduce tension between groups such as villagers  and returning young  people who had previously been in armed groups or forces.
<br><br>To address this situation, CCF/Liberia worked through local leaders and other influential people to organize Forgiveness Festivals in numerous counties. The festivals, which typically ran for a full day, celebrated peace by means of song and dance; provided organized games that promoted teamwork and group cohesion and offered community dramas that illustrated themes of peace and reconciliation. Often they included speeches in which formerly recruited young people-girls as well as boys-apologized publicly and asked the community to forgive them for what had happened during the war. Overall, however, the festivals were as much about improving relations and moving past the war as about forgiveness per se. In many cases, they were preceded by peace dialogues facilitated by CCF’s Liberia staff. Although the festivals were designed to be fun, they carried the serious message that it is time to put war aside and to move forward in peace.
<br><br>In Bong County, where there had been long standing conflict between the Gala and Powai communities of Panta Kpaai District, leaders and elders of each community participated in mediated dialogues about the war and the importance of building peace and unity. A subsequently convened Forgiveness Festival drew nearly 300 people, including elder, town chiefs, school principals, Women’ groups, and youth. Many youth made peace-oriented statements on behalf of their community. Throughout the day, young people participated in football and kickball matches and in cultural performances. At the end of the day, young people conducted a community drama that featured themes of peace and reconciliation.
<br><br>In interviews conducted with diverse people in this event, participants said this event had improved relations and brought hope for peace between these two communities, which had not talked in the preceding 15 years. Also, the formerly recruited young people said they felt accepted, and this view resonated with those of adults in the communities. The festivals were followed by additional workshops on peace, which helped to continue the process of peace building and intercommunity reconstruction projects such as those developed in Sierra Leone. Although the festivals were only the first step, they laid the foundation for longer term process of peace building.


<br><br>Source: Wessells, Michael (2009). Community Reconciliation and Post Conflict Reconstruction for Peace. In Joseph de Rivera (ed.). Handbook on Building Cultures of Peace. Springer.	
  </p>
</div>

  </ion-content>
</ion-view>