<ion-view view-title="Lesson 4">
  <ion-content class="padding has-header" ng-class="fontSize">

<div class="row">
  <div class="col text-right">
    <button class="button" ng-click="increase()"><i class="ion-plus-round"></i></button>
    <button class="button" ng-click="decrease()"><i class="ion-minus-round"></i></button></div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_1">
    <h1 class="tit_1">Peace education</h1>
  </div>
  <div class="item item-text-wrap">
    <p class="intro">At the end of this lesson, you should be able to define peace education and describe various approaches to peace education. </p>
  </div>
</div>

<a class="button button-large button-assertive" href="#/app/video04">
  See video
</a>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    What is peace education? 
  </div>
  <p>
  	<ul class="list">
  		<li class="item item-text-wrap">
    	<b>Peace education</b> - Process of promoting the knowledge, skills, attitudes and values needed to bring about behavior changes that will enable children, youth and adults to prevent conflict and violence, both overt and structural; to resolve conflict peacefully; and to create the conditions conducive to peace, whether at an intrapersonal, interpersonal, intergroup, national or international level.  
    	</li>
    	<li class="item item-text-wrap">
		<b>‘Education’</b> - any process – whether in schools, or in informal or non-formal educational contexts – that develops in children or adults the knowledge, skills, attitudes and values leading to behavior change. 
		</li>
   	</ul>
   </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap stable tit_2">
    <div class="tit_2">Approaches to peace education</div>
  </div>  
</div>


<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    1. Children’s rights/human rights education
  </div>
  <div class="item item-text-wrap">
  	<p>
    Peace a pre-condition without which rights cannot be realized; ensuring of basic rights is essential to bringing about peace.</p>
  </div>
  <div class="item item-divider item-text-wrap">
  	<p>Rights education includes:</p>
  </div>  
  <div class="item">
 	<p>
 	  <ul class="list">
    	<li class="item item-text-wrap">Learning about the provisions of the Universal Declaration of Human Rights or the Convention on the Rights of the Child.</li>
    	<li class="item item-text-wrap">Children encouraged to understand the impact of rights violations, both at home and abroad, and to develop empathy and solidarity with those whose rights have been denied.</li>
    	<li class="item item-text-wrap">Encourages the development of skills that will enable children to act in ways that uphold and promote rights, both their own and others</li>
       	<li class="item item-text-wrap">Also addresses the responsibilities that come with rights</li>
      </ul> 
  	</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    2. Education for Development
  </div>
  <div>
  	<p class="item item-text-wrap">
      <ul class="list">
    	<li class="item item-text-wrap">An approach to teaching and learning which builds a commitment to global solidarity, peace, acceptance of differences, social justice and environmental awareness in young people (Fountain, 1995).</li>
    	<li class="item item-text-wrap">It aims to empower children and youth to participate in bringing about constructive change, both locally and globally.</li>
      </ul>
  	</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    3. Gender Education
  </div>
  <div>
  	<p class="item item-text-wrap">
      <ul class="list">
    	<li class="item item-text-wrap">Aims to address the prevention of violence against women, and alternative ways in which gender conflict may be handled.</li>
    	<li class="item item-text-wrap">Promote attitudes and values that emphasize the rights of girls and women to safety, respect, non-discrimination, and empowerment.</li>
    	<li class="item item-text-wrap">Some programmes focus specifically on boys, helping them better understand their relationship to girls, their roles and responsibilities in family life, stereotypes about masculinity, and communication skills for dealing with conflict.</li>
      </ul>
  	</p>
  </div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    4. Global education
  </div>
  <p class="item item-text-wrap">
     Gives priority to active, learner-based teaching methods, peer-learning, problem solving, community participation, and conflict resolution skills. It is values-based and future-oriented (Selby, 1997).
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    5. Life skills education 
  </div>
  <div>
  	<p class="item item-text-wrap">
      <ul class="list">
    	<li class="item item-text-wrap">Enables children and young people to translate knowledge, attitudes and values into action.</li>
    	<li class="item item-text-wrap">Promotes the development of a wide range of skills that help children and young people cope effectively with the challenges of everyday life, enabling them to become socially and psychologically competent.</li>
      </ul>
  	</p>
  </div>
  <div class="item item-divider">
  	<p>Life skills include:</p>
  </div> 
  <p>
  	<ul class="list item-text-wrap">
  		<li class="item">Cooperation, negotiation,</li>
  		<li class="item">Communication, decision-making, problem-solving, coping with emotions,</li>
  		<li class="item">Self-awareness, empathy, critical and creative thinking, dealing with peer</li>
  		<li class="item">Pressure, awareness of risk, assertiveness, and preparation for the world of work (Baldo and Furniss, 1998).</li>
  	</ul>
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    6. Landmine awareness 
  </div>
  <p class="item item-text-wrap">
     Develops skills and promotes behavioural changes that are essential in helping children cope safely with situations of armed conflict, and are a critical educational intervention to help children deal with the impact of armed conflict.  
  </p>  
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    7. Psychosocial rehabilitation 
  </div>
  <p class="item item-text-wrap">
     Aims for the psychosocial rehabilitation of children affected by war and violence in a number of countries that have undergone – or are undergoing – armed conflict.  
  </p>  
</div>


  </ion-content>
</ion-view>