<ion-view view-title="Lesson 6">
  <ion-content class="padding has-header" ng-class="fontSize">

<div class="row">
  <div class="col text-right">
    <button class="button" ng-click="increase()"><i class="ion-plus-round"></i></button>
    <button class="button" ng-click="decrease()"><i class="ion-minus-round"></i></button></div>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_1">
    <h1 class="tit_1">Strategies of implementing peace education</h1>
  </div>
  <div class="item item-text-wrap">
    <p class="intro">At the end of this lesson, you should be able to explain strategies used in implementing peace education programmes. </p>
  </div>
</div>

<a class="button button-large button-assertive" href="#/app/video06">
  See video
</a>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Introduction
  </div>
  <p class="item item-text-wrap">
    Peace education programme can be integrated into the school system through various ways. There for main strategies of integrating peace education in schools. These include:<br><br>

	<b>1.</b> Integrative approach model of peace education<br><br>
	<b>2.</b> Additive models of peace education <br><br>
	<b>3.</b> Indirect model of peace education<br><br>
	<b>4.</b> Direct model of peace education 

    </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Integrative and additive models of peace education
  </div>
  <p class="item item-text-wrap">
    In the integrative approach, peace is mainstreamed into already existing subjects so that it becomes a dimension across the curriculum. This is the most effective way of integrating peace education in schools for it allows students to critically reflect on the many elements of peace (Lauritzen, 2013). The additive approach comes in form of programmes. This leaves peace education with its own materials and slots in the timetable (Lauritzen, 2013).   <br><br>

    According to Lauritzen (2013) and (Nyambura, 2014), the integrative approach made its first appearance in the Kenyan education system when the country gained independence. Principles and general objectives promoting peace were established. This is articulated by the national goals of education that are blueprints which guide policy makers. The first goal, to foster nationalism, patriotism and promote national unity, acknowledges the multi-ethnic, multi-racial and inter-religious differences that exist in Kenya. It posits that it is the paramount duty of education to help youth acquire this sense of nationhood by removing conflicts and promoting positive attitudes of mutual respect, which enable them to live together in harmony and foster patriotism in order to make a positive contribution to the live of the nation (Nyambura, 2014). <br><br>

    After the 2007/2008 post-election violence, policy makers felt the need to introduce peace education into the formal curriculum and be made an examinable subject. However, this was seen as a weakness by the MoE because it could lead pupils to memorizing for the exams without internalizing the values (Lauritzen, 2013). According to (Lauritzen, 2013), the ministry argued that even though the subject has been there since independence; it had minimal influence on the learners and their teachers. When PEP was designed, it was decided that it should not be examinable so as to allow internalization of peace values.    
  </p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap tit_3">
    Indirect model of peace education
  </div>
  <p class="item item-text-wrap">
    This is the kind of peace education launched in areas where conditions for peace education are not favorable. These could be in areas where conflict is continuing, violent acts are occurring, and a majority of society supports continuation of conflict and holds a socio-psychological repertoire of ethos of conflict (Bar-Tar and Rosen, 2009). This type of education does not aim to bring deep change in the short run but may strengthen peace making and reconciliation in the long run.  Bar-Tar and Rosen (2009) identifies five major themes that indirectly establish an infrastructure for peace process. These themes include:<br><br>

	<b>1.</b> Reflective thinking. This involves questioning held beliefs including dominant assumptions and raising doubts and skepticism about the presently dominant understanding of an issue (Dewey, 1933 noted in Bar-Tar and Rosen, 2009: 564). <br><br>

	<b>2.</b> Tolerance. According to Ignatieff, 2000 (noted in Bar-Tar and Rosen, 2009) is related to a person or groups readiness to bear, to allow and even to hear opinions (thoughts or attitudes) that contradicts his or her own. It also means to reject negative stereotypes and prejudice, to learn about others’ contribution to the world, to actively challenge bias and to engage in thoughtful dialogue about controversial issues. Bar-Tar and Rosen (2009) observes that perceived threat, anger, and fear lead people to become more intolerant towards those whose belief differ from their own. Education for tolerance offers the opportunity to consider views that contradict the dominant societal beliefs or ethos of conflict and encourage the development of alternative views about the conflict. <br><br>

	<b>3.</b> Ethno-empathy. This is the ability of a person or a group to experience what other ethnic group feels and thinks (Bar-Tar and Rosen, 2009). According to Halpem and Weinstein (2004), empathy enables the ability to see the members of other groups as human individuals who can be trusted and have legitimate needs and goals and with whom one would want to maintain peaceful relations. <br><br>

	<b>4.</b> Human Rights.  Human rights are those rights that are inherent in our nature and without which we cannot live as human beings. According to  Bar-Tar and Rosen (2009) the main goal for human rights education is to strengthen the young generation’s respect for human rights and fundamental freedoms.<br><br> 

	<b>5.</b> Conflict resolution. Conflict resolution skills are abilities to negotiate, mediate and collaboratively solve problems in the context of conflicts situtions.  Bar-Tar and Rosen (2009) identifies five main abilities that learning conflict resolution develops.<br><br> 
		
	<span style="margin-left: 5%;">- Understanding that conflict is natural and necessary part of life;</span><br><br> 

	<span style="margin-left: 5%;">- Becoming a better conflict manager, that is knowing which type of peaceful conflict resolution method is best suited for a particular conflict problem;</span></span><br><br> 
		
	<span style="margin-left: 5%;">- Becoming aware of how critical it is to understand the perspective of the other side and carry a constructive conflict resolution process;</span><br><br> 

	<span style="margin-left: 5%;">- Effectively distinguish positions from needs or interests;</span><br><br> 

	<span style="margin-left: 5%;">- Expressing emotions in nonaggressive, non-inflammatory ways;</span><br><br>
	<span style="margin-left: 5%;">- Reframing a conflict as a mutual problem that needs to be resolved collaboratively with compromises via negotiations and/or with the help of a third party; and</span><br><br> 
	
	<span style="margin-left: 5%;">- Brainstorming to create, elaborate and enhance a variety of peaceful solutions.</span>
	</p>
</div>

<div class="card">
  <div class="item item-divider item-text-wrap dark tit_3">
    Direct Model of Peace Education
  </div>
  <p class="item item-text-wrap">
    This kind of education is launched when the societal and political conditions are ripe and the educational system is ready both administratively and pedagogically for this major endeavor (Bar-Tar and Rosen, 2009). Unlike the indirect peace education, direct peace education directly refers to the themes of conflict and tries to change societal beliefs, attitudes, values and behaviours related to culture of conflict. Exaples of possible themes of direct peace education include:<br><br>

	<span style="margin-left: 5%;">- Conflict and peace. Here the aim should be to demonstrate in a concrete and detailed manner the essence of the conflict, the reasons for its occurrence, the direct categories of conflict (especially the violent ones), their results (including genocide), the meaning of wars and their cost, conflict resolution methods, the nature of peace and reconciliation processes, the meaning of peace, the different kinds of peace, methods, and obstacles to achieving it, ways of sustaining it, the role of international institutions and agencies in promoting peace, international treaties regarding principles of conduct at wartime, international courts and human right.  </span> <br><br>
	<span style="margin-left: 5%;">- Peace process. </span><br><br>
	<span style="margin-left: 5%;">- Presentation of the rival.</span><br><br>
	<span style="margin-left: 5%;">- History of the conflict.</span><br><br>
	<span style="margin-left: 5%;">- New affect and emotions.</span>


  </p>  
</div>


  </ion-content>
</ion-view>