<ion-view view-title="Lesson 02">

  <ion-content padding="true" overflow-scroll="true">

	<div class="bar bar-header bar-positive">
	  <h1 class="title">Video for lesson 02</h1>
	</div>
hola
<br><br>
<!-- 
<video controls="controls" class="videoPlayer" width="30%">
	<source src="video/video01.mp4" type="video/mp4"/>
</video>  --> 

<div class="video-container-inner">
      <video controls="controls" width="100%" preload x-webkit-airplay="allow" playsinline webkit-playsinline>
          <source src="videos/SHDC106_02.mp4" type="video/mp4"/>
        </video>
  </div>


  </ion-content>
</ion-view>